<div class="background_light">

  <div class="content">
    <div style="text-align: center">
      <h2 style="border-bottom: 1px solid lightgray; padding-bottom: 15px;">Best Stackoverflow activities</h2>
    </div>
    <div class="photo_div">
      <img style="-webkit-user-select: none;" class="circle_photo" src="https://i.stack.imgur.com/N4JMv.jpg?s=128&g=1">
    </div>
    <div class="text-center m-2">
      <button [ngClass]="'btn mr-1 ' + (showAnswers ? ' btn-success ' :' btn-info ')" (click)="onShowAnswers()">Top
        ansers</button>
      <button [ngClass]="'btn ' + (!showAnswers ? 'btn-success' :'btn-info')" (click)="onShowQuestions()">Top
        questions</button>
    </div>
    <div style="min-height: 60vh">
      <div class="fa-3x text-center" *ngIf="isLoading">
        <i class="fa fa-spinner fa-spin mt-5"></i>
      </div>
      <table class="table" *ngIf="!isLoading && showAnswers && !isWithMobile">
        <tr class="d-flex">
          <th class="col-sm-3">
            Is accepted
          </th>
          <th class="col-sm-3">
            Score
          </th>
          <th class="col-sm-3">
            Link
          </th>
          <th class="col-sm-3">
            Date
          </th>
        </tr>
        <tr *ngFor="let stack of stackData" class="d-flex">
          <td class="col-sm-3 text-center">
            <i [ngClass]="stack.isAccepted ? 'btn btn-success fa fa-check-square' : 'btn btn-primary fa fa-square'"></i>
          </td>
          <td class="col-sm-3 text-center">
            <h4>{{stack.score}}</h4>
          </td>
          <td class="col-sm-3 text-center">
            <a [href]="stack.link">
              <i class="fa fa-link btn btn-success"></i>
            </a>
          </td>
          <td class="col-sm-3 text=center">
            {{stack.date * 1000 | date:'medium'}}
          </td>
        </tr>
      </table>

      <table class="table" *ngIf="!isLoading && showAnswers && isWithMobile">
        <tr class="d-flex">
          <th class="col-sm-3">
            Score
          </th>
          <th class="col-sm-3">
            Link
          </th>
          <th class="col-sm-3">
            Date
          </th>
        </tr>
        <tr *ngFor="let stack of stackData" class="d-flex">
          <td class="col-sm-3 text-center">
            <h4>{{stack.score}}</h4>
          </td>
          <td class="col-sm-3 text-center">
            <a [href]="stack.link">
              <i class="fa fa-link btn btn-success"></i>
            </a>
          </td>
          <td class="col-sm-3 text=center">
            {{stack.date * 1000 | date:'yyyy/MM/dd'}}
          </td>
        </tr>
      </table>

      <table class="table" *ngIf="!isLoading && !showAnswers && !isWithMobile">
        <tr class="d-flex">
          <th class="col-sm-4">
            Score
          </th>
          <th class="col-sm-4">
            Link
          </th>
          <th class="col-sm-4">
            Date
          </th>
        </tr>
        <tr *ngFor="let stack of stackData" class="d-flex">
          <td class="col-sm-4 text-center">
            <h4>{{stack.score}}</h4>
          </td>
          <td class="col-sm-4 text-center">
            <a [href]="stack.link">
              <i class="fa fa-link btn btn-success"></i>
            </a>
          </td>
          <td class="col-sm-4 text=center">
            {{stack.date * 1000 | date:'medium'}}
          </td>
        </tr>
      </table>

      <table class="table" *ngIf="!isLoading && !showAnswers && isWithMobile">
        <tr class="d-flex">
          <th class="col-sm-4">
            Score
          </th>
          <th class="col-sm-4">
            Link
          </th>
          <th class="col-sm-4">
            Date
          </th>
        </tr>
        <tr *ngFor="let stack of stackData" class="d-flex">
          <td class="col-sm-4 text-center">
            <h4>{{stack.score}}</h4>
          </td>
          <td class="col-sm-4 text-center">
            <a [href]="stack.link">
              <i class="fa fa-link btn btn-success"></i>
            </a>
          </td>
          <td class="col-sm-4 text=center">
            {{stack.date * 1000 | date:'yyyy/MM/dd'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
