<div class="row m-3">
  <div class="d-inline p-2 col-sm-2">
    <div class="position-fixed">
      <a [ngClass]="'list-group-item list-group-item-action ' + (route.isActive ? 'active' : '')"
      (click)="internalRoute(route.route)" *ngFor="let route of routes">{{route.caption}}</a>
    </div>
  </div>
  <div class="d-inline col-sm-10">
    <div #bio class="bio_section section">
      <app-bio></app-bio>
    </div>
    <div #contact class="contact_section section">
      <app-contact></app-contact>
    </div>
  </div>
</div>
