<div class="row m-3">
  <div class="d-inline p-2 col-sm-2">
    <div class="position-fixed">
      <div *ngFor="let route of routes" class="text-center">
        <p [ngClass]="(route.isActive ? 'btn btn-success ' : 'btn btn-primary ') + route.icon + ' btn_menu'"
          (click)="internalRoute(route.route)"></p>
      </div>
    </div>
  </div>
  <div class="d-inline col-sm-10">
    <div #bio class="section">
      <app-bio></app-bio>
    </div>
    <div #github class="section">
      <app-github></app-github>
    </div>
    <div #stackoverflow class="section">
      <app-stackoverflow></app-stackoverflow>
    </div>
  </div>
</div>
