<div class="navbar_div" *ngIf="!showFixedNav">
  <a [routerLink]="route.route" [ngClass]="route.isActive ? 'active' : ''"
    *ngFor="let route of routes">{{route.caption}}</a>
</div>
<div style="background-color: white;margin-top:10px;">
  <div class="navbar_fixed_div" [@openClose]="showFixedNav ? 'open' : 'closed'">
    <div class="nav_div">
      <a [routerLink]="route.route" [ngClass]="route.isActive ? 'active' : ''"
        *ngFor="let route of routes">{{route.caption}}</a>
    </div>
  </div>
</div>
<a [routerLink]="arash">Shangol</a>

<div class="outlet_div">
  <router-outlet></router-outlet>
</div>
