<div class="navbar_div" *ngIf="!showFixedNav">
  <div *ngFor="let route of routes" class="d-inline">
    <a *ngIf="!route.children" [routerLink]="route.route"
      [ngClass]="route.isActive ? 'active' : ''">{{route.caption}}</a>
    <a *ngIf="route.children" class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{route.caption}}
    </a>
    <div *ngIf="route.children" class="dropdown-menu" style="padding-right: 10px;" aria-labelledby="navbarDropdown">
      <a *ngFor="let child of route.children" style="color:black" class="dropdown-item"
        [routerLink]="child.route">{{child.caption}}</a>
    </div>
  </div>
</div>
<div style="background-color: white;margin-top:10px;">
  <div class="navbar_fixed_div" [@openClose]="showFixedNav ? 'open' : 'closed'">
    <div class="nav_div">
      <div *ngFor="let route of routes" class="d-inline">
        <a *ngIf="!route.children" [routerLink]="route.route" [ngClass]="route.isActive ? 'active' : ''"
          >{{route.caption}}</a>
        <a *ngIf="route.children" class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{route.caption}}
        </a>
        <div *ngIf="route.children" class="dropdown-menu" style="padding-right: 10px;" aria-labelledby="navbarDropdown">
          <a *ngFor="let child of route.children" style="color:black" class="dropdown-item"
            [routerLink]="child.route">{{child.caption}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="outlet_div">
  <router-outlet></router-outlet>
</div>
