table, tr, td {
  border: solid 1px gray;
}

table {
  width: 50%;
  margin-left: 25%;
  text-align: center
}

.form_div {
  border: solid 1px gray;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  padding: 5px;
}

.element {
  margin: 10px;
}

.alert__div {
  background-color: #1C2833;
  color: #CACFD2;
  padding-bottom: 2px;
}

.alert__div:hover {
  background-color: #273746;
}

.alert_close_button:hover {
  cursor: pointer;
}
