<div class="row">
  <div class="d-inline col-sm-12 border background_light">
    <span style="font-size: x-large">
      General information
    </span>
    <button style="float: right" class="btn btn-success mr-1" (click)="saveGeneralInformation()">Save</button>
    <button style="float: right" class="btn btn-info mr-1" (click)="getGeneralInformation()">Refresh</button>
    <div *ngIf="generalInformation.isLoading" class="mt-4 mb-2">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="generalInformation.hasError">
      <p style="color:red">
        {{generalInformation.errorMessage}}
      </p>
    </div>
    <div *ngIf="generalInformation.hasResult" class="mt-2">
      <div class="col-sm-12 mb-3">
        <mat-form-field class="col-sm-12">
          <input matInput placeholder="Name" name="name" [(ngModel)]="generalInformation.data.name.value">
        </mat-form-field>
      </div>
      <div class="col-sm-12 mb-3">
        <mat-form-field class="col-sm-12">
          <input matInput placeholder="Health check period (second)" name="healthCheckPeriod"
                 [(ngModel)]="generalInformation.data.healthCheckPeriod.value">
        </mat-form-field>
      </div>
      <div class="col-sm-12 mb-3">
        <mat-form-field class="col-sm-12">
          <input matInput placeholder="Moisture check period (second)" name="moisturePeriod"
                 [(ngModel)]="generalInformation.data.moisturePeriod.value">
        </mat-form-field>
      </div>
      <hr>
      <div class="col-sm-12 mb-3">
        <span style="font-size: x-large">Moisture information  and situations</span>
        <p class="mt-4" *ngFor="let item of generalInformation?.data?.moistureInformation | keyvalue">
          Min: {{item?.value?.min}} , Max: {{item?.value?.max}} , Description: {{item?.value?.name}}
        </p>
      </div>
    </div>
  </div>
  <div class="d-inline col-sm-12 border mt-2 background_light">
    <span style="font-size: x-large">
      General information
    </span>
    <button style="float: right" class="btn btn-info mr-1" (click)="getCatalogs()">Refresh</button>
    <div *ngIf="catalogs.isLoading" class="mt-4 mb-2">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="catalogs.hasResult" class="mt-2">
      <div *ngFor="let catalog of catalogs.data | keyvalue">
        <h4>
          <button class="btn btn-danger mr-1" (click)="removeCollection(catalog.key)">Remove</button>
          <span>{{catalog.key}}</span>
          <span> has {{catalog?.value?.count}} item. </span>
        </h4>
        <hr>
      </div>
    </div>
  </div>
</div>
