.photo_div
  min-height: 10vh;
  width: 100%;

.content
  width: 100%;
  padding: 10px;

img
  border-radius: 50%;
  width: 10%;
  margin: 10px 0 10px 45%;
.main_div
  background-color: rgb(254,254,254);

