<div>
  <div class="photo_div about_us_section"></div>
  <div class="content">
    <div style="text-align: center">
      <h2>Arash's biography</h2>
    </div>
    <p>Its been more than 10 years which I wrote my first code. That time I found out which I find my dream job.</p>
    <p>
      I start studing computer programming at 2008, graduated at high school, then moved to India to continue studing
      programming
      in English language.
    </p>
    <p>
      I graduated from college at 2014 in BCA degree, after that I moved to my country. Since then I have been working
      in
      several different companies
      and many teams.
    </p>
    <p>
      In these years of my experiences I have been envolving with technologies like C#, Angular, concept, design,
      interface implementation, testing, Front-End, Database and maintenance, TDD, BDD, CI, CD, .Net Core, MongoDb,
      DevOps, Docker.
    </p>
    <p>
      <a href="/assets/files/Arashbahrein.pdf">Get to know more about me with my resume</a>
    </p>
  </div>
</div>
