<div class="background_light">
  <div class="content">
    <div style="text-align: center">
      <h2 style="border-bottom: 1px solid lightgray;padding-bottom: 15px;">Arash's biography</h2>
    </div>
    <div class="photo_div">
      <img class="circle_photo" src="/assets/images/bio.jpg" alt="Avatar">
    </div>
    <p>Its been more than 10 years which I wrote my first code. That time I found out which I find my dream job.</p>
    <p>
      I start studing computer programming at 2008, graduated at high school, then moved to India to continue studing
      programming
      in English language.
    </p>
    <p>
      I graduated from college at 2014 in BCA degree, after that I moved to my country. Since then I have been working
      in
      several different companies
      and many teams.
    </p>
    <p>
      In these years of my experiences I have been envolving with technologies like C#, Angular, concept, design,
      interface implementation, testing, Front-End, Database and maintenance, TDD, BDD, CI, CD, .Net Core, MongoDb,
      DevOps, Docker.
    </p>
    <p>
      <a href="/assets/files/Arashbahrein.pdf">Get to know more about me with my resume</a>
    </p>
    <p>
      <a>Find me in </a>
      <a href="https://stackoverflow.com/users/3773888/arash">GitHub</a>
    </p>
    <p>
      <a href="https://stackoverflow.com/users/3773888/arash"><img
          src="https://stackoverflow.com/users/flair/3773888.png" width="208" height="58"
          alt="profile for Arash at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
          title="profile for Arash at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
    </p>
  </div>
</div>
