.main_div
  border: solid 1px gray;
  height: 100vh;
  background-image: url('/assets/images/bio.jpg');
  background-size: cover;

.content
  border: 2px gray solid;
  // background-color: white;
  padding: 10px;
  width: 50%;
  margin: 15% 0 0 25%;
  color: white;
