@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
  background-image: url('/assets/images/site-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.2em
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-button {
  background: #ccc
}
::-webkit-scrollbar-track-piece {
  background: #888
}
::-webkit-scrollbar-thumb {
  background: #eee
}​

h2, p {
  font-family: 'Comic Sans MS'
}

.background_light {
  background-color: rgba(254,254,254,0.8);
  border: solid 1px gray;
  border-radius: 5px;
}

.fa-spinner {
  color:darkcyan;
}
