@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-image: url('/assets/images/site-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2, p {
  font-family: 'Comic Sans MS'
}

.background_light {
  background-color: rgba(254,254,254,0.8);
}
